<p>Здравствуйте!</p>
<p>
  Вас пригласили в организацию
  {{orgName}}

  {{#if role}}
    в роли
    {{role}}{{/if}}.
</p>
<p>Чтобы присоединиться, нажмите на ссылку ниже:</p>
<p><a href='{{acceptLink}}'>{{acceptLink}}</a></p>
<p>Ссылка действует до {{expiry}}.</p>